{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block bootstrap3_extra_head %}
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'api/style.css' %}" />
  <script src="{% static 'api/axios.min.js' %}"></script>
  <script src="{% static 'api/vue.js' %}"></script>
  <script src="{% static 'api/main.js' %}"></script>
  {% block extra_head %}
  {% endblock %}
{% endblock %}
{% block bootstrap3_extra_script %}
  {% block extra_script %}
  {% endblock %}
{% endblock %}

{% block bootstrap3_content %}
  <nav class="navbar navbar-default" id="nav">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right" v-show="isLoggedIn" style="display:none;">
          {% comment %} {% if user.is_authenticated %} {% endcomment %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <div class="img-rounded profile-img">
                <img width="26" height="26" class="header-user-avatar" src="http://www.gravatar.com/avatar/c36b22835c9655f03a63902c23300497?s=52&amp;d=identicon" alt="C36b22835c9655f03a63902c23300497?s=52&amp;d=identicon">
              </div>{% verbatim %}{{ user ? user["username"] : ''}} {% endverbatim %}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" id="logout-a">Sign out</a></li>
            </ul>
          </li>
          {% comment %} {% else %} {% endcomment %}
        </ul>
        <ul class="nav navbar-nav navbar-right" v-show="!isLoggedIn" style="display:none;">
          <li><a  data-toggle="modal" href="#loginFormModal">Login</a></li>
          <li><a  data-toggle="modal" href="#registerFormModal">Register</a></li>
          </template>
          {% comment %} {% endif %} {% endcomment %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <!-- Modal -->
    <div class="modal fade" id="loginFormModal" tabindex="-1" role="dialog" aria-labelledby="loginFormModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="loginFormModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger alert-dismissable"  v-for="msg in msgs">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% verbatim %}{{ msg }}{% endverbatim %}
            </div>
            <div class="alert alert-success alert-dismissable"  v-for="msg in succ_msgs">
                <button type="button" class="close" data-dismiss="success" aria-hidden="true">×</button>
                {% verbatim %}{{ msg }}{% endverbatim %}
            </div>
            {% include 'api/login-form.html' %}
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="registerFormModal" tabindex="-1" role="dialog" aria-labelledby="registerFormModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="registerFormModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger alert-dismissable"  v-for="msg in msgs">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% verbatim %}{{ msg }}{% endverbatim %}
            </div>
            <div class="alert alert-success alert-dismissable"  v-for="msg in succ_msgs">
                <button type="button" class="close" data-dismiss="success" aria-hidden="true">×</button>
                {% verbatim %}{{ msg }}{% endverbatim %}
            </div>
            {% include 'api/register-form.html' %}
          </div>
        </div>
      </div>
    </div>

  <div class="container">
  <h1>{% block title %}(no title){% endblock %}</h1>



  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
  {% block main %}(no content){% endblock %}

  </div>
  
{% endblock %}